In [ ]:
#   Creating employee.json
#   Sample employee data
employee_data = [
{
      "Name": "Ab Singh",
      "DOB": "1990--5-15",
      "Height": 170, 
      "City": "New Delhi"
      "State": "Delhi"
},
{
      "Name": "J Smith",
      "DOB": "1988--8-25",
      "Height": 165, 
      "City": "Mumbai"
      "State": "Maharashtra"
},
{
      "Name": "DS Taparia",
      "DOB": "1995-10-27",
      "Height": 167, 
      "City": "Kolkata"
      "State": "West Bengal"  
}
{     
      "Name": "TB Sahu",
      "DOB": "1990--11-26",
      "Height": 177, 
      "City": "Bhubaneshwar"
      "State": "Orissa"
      
}
{     "Name": "XYZ",
      "DOB": "1975-5-23",
      "Height": 178, 
      "City": "Guwahati"
      "State": "Assam"
}

]

import json

#Writing employee data to employee json 
with open ()